.footer-section {
    background-color: #19232d;
}

img {
    height: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.icon-bg {
    background-color: #202b36;
    height: 55px;
    width: 55px;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 12px;
    border-radius: 50px;
    margin: 6px;
}

.icon {
    font-size: 24px;
    color: #5a7184;
}

h1 {
    margin-top: 16px;
    text-transform: capitalize;
    color: #5a7184;
    font-size: 16px;
}

.footer-section-heading {
    font-size: 22px;
}

.icon1 {
    font-size: 22px;
    color: #5a7184;
}

p {
    margin-top: 16px;
    color: #5a7184;
    font-size: 20px;
}

hr {
    background-color: #5a7184;
}

.footer-section-para {
    color: #959ead;
    font-size: 22px;
}